*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #eee;
}
.title{
    margin: 1rem 0;
    text-align: center;
    color: rgb(1, 1, 74);
    text-shadow: 0 5px 10px #00000050;
}
.container{
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid gray;
    min-width: 600px;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.card {
    padding: 16px;
    border-radius: 8px;
    border:1px solid #d5d1d1 ;      
    justify-content: center;
    box-shadow: 0 5px 6px rgba(113, 16, 16, 0.208);
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: whitesmoke;
}
.card img{
    border: 4px solid rgb(237, 234, 234);
    border-radius: 10px;
    width: 160px;
}
.title-name{
    color: rgb(42, 97, 70);
    text-shadow: 0 3px 2px #00000020;
}
.profession{
    font-family: 'Vast Shadow';
    font-size: 14px;
    font-weight: 700;
    color: rgb(126, 126, 171);
}
.phrase{
    font-family: monospace;   
    font-weight: 600;
    font-size: 12px;
}